{% extends "LibraryAppBundle::base.html.twig" %}

{% block title %}LibraryAppBundle:Book:index{% endblock %}

{% block body %}
    <h1>Add Book</h1>

    {% if 0 == results.totalItems %}
        <h2>No books. Sad panda.</h2>
    {% else %}
        <table class="table table-bordered">
            <tbody>
            {% for item in results.items %}
                <tr>
                    <td>

                        {%  if 0 == item.imageLinks|length %}
                            No Image
                        {% else %}
                            <img src="{{ item.imageLinks.smallThumbnail|replace({'&edge=curl': ''}) }}" />
                        {% endif %}
                    </td>
                    <td>
                        {{ item.title }}
                    </td>
                    <td>{{ item.authors|join(', ') }}</td>
                    <td>
                        <form method="post" action="{{ path('book_create') }}">
                            <input type="hidden" name="book_data" value="{{ item|json_encode() }}" />
                            <input type="submit" name="book_selected" value="This is it!" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
