{% extends "LibraryAppBundle::base.html.twig" %}

{% block title %}LibraryAppBundle:Book:index{% endblock %}

{% block body %}
    <h1>New Book</h1>

    {{ form_errors(form) }}

    {{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate'}}) }}
    {# render the task's only field: description #}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.isbn10) }}
    {{ form_row(form.isbn13) }}

    <h3>Authors</h3>
    <ul class="authors" data-prototype="{{ form_widget(form.authors.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for author in form.authors %}
            <li>{{ form_row(author.author.name) }}</li>
        {% endfor %}
    </ul>
    {{ form_end(form) }}
{% endblock %}

{% block pagescripts %}
{% javascripts
    '@LibraryAppBundle/Resources/public/library/book/new.js'
    %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
