<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}The Library{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets
        '@LibraryAppBundle/Resources/public/css/library.less'
        filter='lessphp'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">The Library</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% if app.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{  path('user') }}">Manage user accounts</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path('logout') }}">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div class="content container">
    {% block body %}{% endblock %}
    </div>

    {% javascripts
        '@LibraryAppBundle/Resources/public/jquery/jquery-1.11.1.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/transition.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/modal.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/dropdown.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/scrollspy.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/tab.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/tooltip.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/popover.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/alert.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/button.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/collapse.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/carousel.js'
        '@LibraryAppBundle/Resources/public/bootstrap/js/affix.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>

</html>
