{% extends "LibraryAppBundle::base.html.twig" %}

{% block body -%}
    <div class="row">
        <div class="col-md-8">
            <h2>User Management</h2>
        </div>
        <div class="col-md-4 text-right">
            <a href="{{ path('user_new') }}" class="btn btn-primary" role="button">
                Create a new user
            </a>
         </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.username }}
                    {% if entity.role == 'ROLE_ADMIN' %}
                        (Admin)
                    {% endif %}
                </td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-default" role="button">Show</a>
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default" role="button">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
